In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("all_sample_9_genes.csv", sep= ",")

In [7]:
df.head(3)

,sample,X202119_s_at,X202887_s_at,X203523_at,X206310_at,X213241_at,X223044_at,X226545_at,X228365_at,X235046_at,geo_accession,osi,os,efs,age,group,Risk,karyotype
0,GSM158718.CEL.gz,9.705252,7.655903,8.494839,11.318586,7.674142,11.245638,6.570879,8.729306,5.965201,GSM158718,dead,540,9.66,30 years,P,P,11q23
1,GSM158723.CEL.gz,9.680109,10.901593,10.896339,11.327894,9.004220,10.744858,6.756322,7.476108,5.881407,GSM158723,dead,219,6.54,60 years,P,P,-5/7(q)
2,GSM158736.CEL.gz,10.609126,11.052468,12.025809,10.030036,10.615579,10.935581,8.095537,7.786431,7.396956,GSM158736,dead,294,9.79,41 years,P,P,NN

In [8]:
df2 = pd.read_csv("glmnet_coeficent.csv", sep=" ")
df2.sort_values(by= ["coefficient"])

           name  coefficient
5    X223044_at     0.000915
1  X202887_s_at     0.021612
2    X203523_at     0.034406
4    X213241_at     0.048353
3    X206310_at     0.054453
8    X235046_at     0.055418
7    X228365_at     0.058582
0  X202119_s_at     0.075506
6    X226545_at     0.087568

In [9]:
df2 = df["X223044_at"]
df2.to_csv("X223044_at_expression.csv", sep=",")

In [10]:
df2 = pd.read_csv("X223044_at_expression.csv", sep=",")

In [11]:
df2["X223044_at"] = 0.000915 * df2["X223044_at"]

In [12]:
df2

     Unnamed: 0  X223044_at
0             0    0.010290
1             1    0.009832
2             2    0.010006
3             3    0.009696
4             4    0.009722
..          ...         ...
442         442    0.010125
443         443    0.009784
444         444    0.009672
445         445    0.009836
446         446    0.009976

[447 rows x 2 columns]

In [13]:
df2.to_csv("expr_coefficient_X223044_at.csv", sep=",")

In [14]:
df3 =pd.read_csv("expr_coefficient_X223044_at.csv", sep=",")
df3 =df3.set_index("sample")
df3

                  X223044_at
sample
GSM158718.CEL.gz    0.010290
GSM158723.CEL.gz    0.009832
GSM158736.CEL.gz    0.010006
GSM158737.CEL.gz    0.009696
GSM158740.CEL.gz    0.009722
...                      ...
GSM159165.CEL.gz    0.010125
GSM159167.CEL.gz    0.009784
GSM159168.CEL.gz    0.009672
GSM159170.CEL.gz    0.009836
GSM159171.CEL.gz    0.009976

[447 rows x 1 columns]

In [15]:
df3["score"] = df3["X223044_at"]
df3

                  X223044_at     score
sample
GSM158718.CEL.gz    0.010290  0.010290
GSM158723.CEL.gz    0.009832  0.009832
GSM158736.CEL.gz    0.010006  0.010006
GSM158737.CEL.gz    0.009696  0.009696
GSM158740.CEL.gz    0.009722  0.009722
...                      ...       ...
GSM159165.CEL.gz    0.010125  0.010125
GSM159167.CEL.gz    0.009784  0.009784
GSM159168.CEL.gz    0.009672  0.009672
GSM159170.CEL.gz    0.009836  0.009836
GSM159171.CEL.gz    0.009976  0.009976

[447 rows x 2 columns]

In [16]:
df3['score'].median()

0.00929352852611

In [13]:
df3['Expression'] = df3['score'] > 0.334282557969023

In [14]:
df3.to_csv("km_X223044_at.csv", sep=",")

In [15]:
df3

                  X235046_at     score  Expression
sample
GSM158718.CEL.gz    0.330579  0.330579       False
GSM158723.CEL.gz    0.325936  0.325936       False
GSM158736.CEL.gz    0.409925  0.409925        True
GSM158737.CEL.gz    0.252527  0.252527       False
GSM158740.CEL.gz    0.404142  0.404142        True
...                      ...       ...         ...
GSM159165.CEL.gz    0.572510  0.572510        True
GSM159167.CEL.gz    0.437594  0.437594        True
GSM159168.CEL.gz    0.329620  0.329620       False
GSM159170.CEL.gz    0.385670  0.385670        True
GSM159171.CEL.gz    0.327353  0.327353       False

[447 rows x 3 columns]